* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  background-color: rgb(177, 220, 255);
}

header {
  text-align: center;
}
#testui {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
#testForm, #testForm2, #testForm3 {
  width: 60%;
  margin-bottom: 10px;
  background-color: white;
}
@media only screen and (max-width: 400px) {
  #testForm, #testForm2, #testForm3 {
    width: 90%;
  }
  #allIssues {
    width: 90%;
  }
}

input, textarea {
  width: 100%;
}

.btn-info {
  width: 60%;
}
button {
  margin-top: 3px;
}
.issue {
  text-align: center;
}

.center {
  text-align: center;
}

#issueDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 200px;
  border: 2px solid black;
}
#issueButtons {
  display: flex;
  justify-content: center;
}
.issueBtn {
  margin: 10px 20px;
}
@media only screen and (max-width: 400px) {
  #issueButtons {
    flex-direction: column;
    margin: 3px 0px;
  }
}
.closed {
  background-color: lightgrey;
}

.open {
  background-color: white;
}

.id {
  font-size: 10.5px;
}
#allIssues {
  margin: 10px 0px;
}
